a{
	color : #ff4040;
}
#results{
	width:80%;
	margin:auto;
	margin-top:100px;
}
body{
	margin:0;
	background-color:#262626;
	color:white;
	font-family:-webkit-pictograph;
}
/*#418541*/
#h1p{
	color:#72bf72;
}

#searchbox{
	width:80%;
	margin:auto;
	padding:80px 10px;
	text-align:center;
}

#sh{
	width:600px;
	padding:8px 20px;
	border:none;
	font-size:20px;
	height:100%;
	outline:none;
	border-radius:20px;
}
#sb{
	width:70px;
	padding:8px;
	border:none;
	height:100%;
	border-radius:0;
	background-color: #72bf72;
	color:white;
}
